
$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;
$spacers: (
  a: (
    x:   auto,
    y:   auto
  ),
  0: (
    x:   0,
    y:   0
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  1h: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  2: (
    x:   ($spacer-x * 2),
    y:   ($spacer-y * 2)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  4: (
    x:   ($spacer-x * 4),
    y:   ($spacer-y * 4)
  ),
  5: (
    x:   ($spacer-x * 5),
    y:   ($spacer-y * 5)
  ),
  6: (
    x:   ($spacer-x * 6),
    y:   ($spacer-y * 6)
  )
);

@include spacing;

.border-left-md {
  @media #{$breakpoint-md-up} {
    border-left: 1px solid $green-color;
  }
}
