
html, body {
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h2 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.75rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}
h5 {
  font-size: 1.25rem;
  font-weight: 400;
}
p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  @media #{$breakpoint-xs-only} {
    text-align: center;
  }
}
.small {
  font-size: .6125rem;
  font-weight: 400;
  line-height: .875rem;
}
