<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" href="./css/main.css">

  <title>Título</title>
</head>
